<div class="container">
    <h2>About Us</h2>
    <p>For updates and discussions, feel free to join our channels:</p>

    <a href="https://t.me/JaloliddinDeveloper" class="btn btn-primary" target="_blank">Join Us on Telegram</a>

    <a href="https://github.com/JaloliddinDeveloper" class="btn btn-secondary" target="_blank">View Our GitHub</a>
</div>
